*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    text-align: center;
}

.titulo{
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.subtitulo{
    text-align: center;
    height: 55px;
}

.base{
    align-items: center;
    text-align: center;
    display: flex;
    gap: 54px;
    width: 390px;
    height: 40px;

    background-color: #ffffff;
    border: 1px solid black;
}

.images{
    gap: 10px;
    padding: 90px;
    width: 900px;
    margin-top: 150px;
    width: 100px;
}



footer{
    gap: 50px;
    height: 58px;
    line-height: 29px;
    text-align: center;
}